
.layout {
  display: table-cell;
  display: flex;
  width: 100%;
}
.navigation-pane {
  min-width: 20%;
  max-width: 20%;
}


.content-pane {
  padding-left: 10pt;
}

/*
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Telecom-net.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
*/