<div >
  <kendo-menu  *ngIf="!MenuWithLogin" style="display: inline-block; float:right;" [items]="langitems" (select)="onSelectLang($event)"></kendo-menu>
  <div *ngIf="MenuWithLogin" class="custom-toolbar" [style.display]="showMenuButton ? 'block' : 'none'">
      <button  kendoButton icon="menu"  look="flat" (click)="togglePanel()"></button>
      <span class="mail-box">Menu</span>
      
      <button  kendoButton icon="mirror"  look="flat" (click)="logoff()"  style="float: right;">Logoff</button>
      <kendo-menu   style="display: inline-block; float:right;" [items]="langitems" (select)="onSelectLang($event)"></kendo-menu>
      <kendo-menu   style="display: inline-block; float:right;" [items]="themeitems" (select)="onSelectTheme($event)"></kendo-menu>
  </div>

  <div class="layout" >
    
      <div *ngIf="MenuWithLogin"  class="navigation-pane" [style.display]="showPanelbar ? 'block' : 'none'">
          <div>&nbsp;</div>
          <kendo-menu style ="display: inline;" [items]="items" (select)="onSelect($event)" *ngIf="showModuleSelection">
          </kendo-menu>
          <!--legend class="k-form-legend">{{moduleName}}</legend-->
          <h3>{{moduleName}}</h3>
  
          <kendo-panelbar [expandMode]="expandMode" *ngIf="staticMenu" 
          (stateChange)="starServices.stateChange(this, $event)" >
              

              <kendo-panelbar-item [title]="'Statistics'">
                  <!--kendo-panelbar-item [title]="'Blank'" routerLink=""></kendo-panelbar-item > 
                  <kendo-panelbar-item [title]="'home'" routerLink="/home"></kendo-panelbar-item --> 
                  <kendo-panelbar-item [title]="'Dashboard '" routerLink="/PRVDASH"></kendo-panelbar-item>
                  <!--kendo-panelbar-item [title]="'DashBoard'" routerLink="/home"></kendo-panelbar-item --> 
                  <kendo-panelbar-item [title]="'Reports '" routerLink="/PRVRPRT"></kendo-panelbar-item>
              </kendo-panelbar-item>

              <kendo-panelbar-item [title]="'Credit Control'">
                  <kendo-panelbar-item [title]="'crc epm simulate form'" routerLink="/crc_epm_simulate_form"></kendo-panelbar-item>
                  <kendo-panelbar-item [title]="'crc process log grid'" routerLink="/crc_process_log_grid"></kendo-panelbar-item>
                  
                  <kendo-panelbar-item [title]="'Crc Crc Testing '" routerLink="/crc_crc_testing"></kendo-panelbar-item>
                  <kendo-panelbar-item [title]="'Testing 100,000 rec'" routerLink="/crc_crc_testing2"></kendo-panelbar-item>
                  <kendo-panelbar-item [title]="'Crc Crc Screens '" routerLink="/crc_crc_screens"></kendo-panelbar-item>
                  
              </kendo-panelbar-item>   

              <kendo-panelbar-item [title]="'Credit Control sub comp'">
                  <kendo-panelbar-item [title]="'---------ccmacst_fmb components -------'"></kendo-panelbar-item>
              </kendo-panelbar-item>   
            



          </kendo-panelbar>

          <kendo-panelbar [expandMode]="expandMode"  *ngIf="!staticMenu" 
          (stateChange)="starServices.stateChange(this, $event)" >
          <kendo-panelbar-item
          *ngFor="let item of panelItems"
          [id]="item.choice"
          [title]="item.title"
          [icon]="item.icon"
          [routerLink]="item.routerLink" 
          [selected]="item.choice == selectedId">
                  
          <kendo-panelbar-item 
          *ngFor="let child of item.children"
          [id]="child.choice"
          [icon]="child.icon"
          [title]="child.title"
          
           >
                  </kendo-panelbar-item>                          
                 
              </kendo-panelbar-item>
          </kendo-panelbar>
      </div>
      <div class="content-pane" (click)="divClicked()">
          <router-outlet  ></router-outlet>
      </div>
  </div>
</div>
<app-adm-login *ngIf="showLogn" (loginCompleted)="loginCompletedHandler($event)"></app-adm-login>
<div kendoDialogContainer></div>



