<div>
    <legend *ngIf="!componentConfig.isMaster" class="k-form-legend">{{ title }}</legend>

<kendo-toolbar class="form-toolbar" *ngIf="showToolBar">
    <kendo-toolbar-button kendoButton [icon]="'save'" title="save" (click)="saveChanges( form)" *ngIf="!isChild"></kendo-toolbar-button>
    <kendo-toolbar-button  kendoButton [icon]="'print'" title="print" (click)="printScreen()" ></kendo-toolbar-button >

<kendo-toolbar-separator></kendo-toolbar-separator>
    <kendo-toolbar-button  [icon]="'zoom'" title="Enter Query" (click)="enterQuery( form);"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="'reload'"  title="Execute Query"  (click)="executeQuery( form.value);"></kendo-toolbar-button>
    <kendo-toolbar-button   [icon]="'cancel'" title="Cancel"  (click)="onCancel($event)" ></kendo-toolbar-button >
<kendo-toolbar-separator></kendo-toolbar-separator>
    <kendo-toolbar-button  [icon]="'arrow-double-60-left'" title="First Record" (click)="goRecord( 'first');"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="'arrow-60-left'"  title="Previous Record"  (click)="goRecord(  'prev');"></kendo-toolbar-button>
    <kendo-toolbar-button   [icon]="'arrow-60-right'" title="Next Record"  (click)="goRecord('next')" ></kendo-toolbar-button >
    <kendo-toolbar-button  [icon]="'arrow-double-60-right'" title="Last Record" (click)="goRecord('last')"></kendo-toolbar-button>
<kendo-toolbar-separator></kendo-toolbar-separator>
    <kendo-toolbar-button  [icon]="'plus-outline'" title="Insert Record" (click)="onNew($event);"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="'minus-outline'" title="Delete Record" (click)="onRemove( form);">Remove</kendo-toolbar-button>
	<kendo-toolbar-separator></kendo-toolbar-separator>
	<kendo-toolbar-button   [icon]="'form-element'" title="Show Form" (click)="showMultiStepForm( form.value,0);"></kendo-toolbar-button>
	<kendo-toolbar-button   [icon]="'form-element'" title="Show External Info" (click)="showMultiStepForm( form.value,1);"></kendo-toolbar-button>
	<kendo-toolbar-button  kendoButton [icon]="'folder'" title="RuleLog" (click)="logOpen(form.value);" ></kendo-toolbar-button >

</kendo-toolbar>
<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
    <form class="form-layout" class="k-form k-form-horizontal" [formGroup]="form" >
    <fieldset class="form-fieldset"  class="k-form-fieldset">


<div class="wrap">
	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="SUBNO" text="Subno"></kendo-label>
		<input class="form-input" formControlName="SUBNO" kendoTextBox #SUBNO  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="WO_TYPE" text="Wo Type"></kendo-label>
		<kendo-combobox  #WO_TYPE class="form-field-combobox" [formControlName]="'WO_TYPE'"
		[data]="lkpArrWO_TYPE" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		</kendo-combobox>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="WO_ORDER_NO" text="Wo Order No"></kendo-label>
		<input class="form-input" formControlName="WO_ORDER_NO" kendoTextBox #WO_ORDER_NO  required
		[readonly]="primarKeyReadOnlyArr.isWO_ORDER_NOreadOnly"
		[ngClass]="{ 'ng-invalid-required  ng-touched': submitted && f.WO_ORDER_NO.errors }" />
	</kendo-formfield>


</div>

<!--div class="wrap">
	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="DEPT" text="Dept"></kendo-label>
		<kendo-combobox  #DEPT class="form-field-combobox" [formControlName]="'DEPT'"
		[data]="lkpArrDEPT" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"

		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		</kendo-combobox>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="TEMPLATE_NAME" text="Template Name"></kendo-label>
		<kendo-combobox  #TEMPLATE_NAME class="form-field-combobox" [formControlName]="'TEMPLATE_NAME'"
		[data]="lkpArrTEMPLATE_NAME" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"

		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		</kendo-combobox>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="DIV" text="Div"></kendo-label>
		<input class="form-input" formControlName="DIV" kendoTextBox #DIV  />
	</kendo-formfield>
</div-->

<div class="wrap">
	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="WO_STATUS" text="Status"></kendo-label>
		<kendo-combobox  #WO_STATUS class="form-field-combobox" [formControlName]="'WO_STATUS'"
		[data]="lkpArrWO_STATUS" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"

		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		</kendo-combobox>
	</kendo-formfield>
	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="ASSIGNEE_TYPE" text="Assignee Type"></kendo-label>
		<kendo-combobox  #ASSIGNEE_TYPE class="form-field-combobox" [formControlName]="'ASSIGNEE_TYPE'"
		[data]="lkpArrASSIGNEE_TYPE" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"

		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		</kendo-combobox>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="ASSIGNEE" text="Assignee"></kendo-label>
		<kendo-combobox  #ASSIGNEE class="form-field-combobox" [formControlName]="'ASSIGNEE'"
		[data]="lkpArrASSIGNEE" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"

		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		</kendo-combobox>
	</kendo-formfield>

</div>

<div class="wrap">
	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="ORDERED_DATE" text="Ordered"></kendo-label>
		<kendo-datepicker [format]="this.paramConfig.DateFormat" class="form-field-date" formControlName="ORDERED_DATE"  #ORDERED_DATE

		></kendo-datepicker>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="PROMISED_DATE" text="Pronised"></kendo-label>
		<kendo-datepicker [format]="this.paramConfig.DateFormat" class="form-field-date" formControlName="PROMISED_DATE"  #PROMISED_DATE

		></kendo-datepicker>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="COMPLETION_DATE" text="Completion"></kendo-label>
		<kendo-datepicker [format]="this.paramConfig.DateFormat" class="form-field-date" formControlName="COMPLETION_DATE"  #COMPLETION_DATE

		></kendo-datepicker>
	</kendo-formfield>
</div>

<div class="wrap">
	<kendo-formfield class="form-field-double" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="NOTES" text="Notes"></kendo-label>
		<textarea kendoTextArea  style="resize: both;" class="form-input-double" formControlName="NOTES" kendoTextBox #NOTES ></textarea>
	</kendo-formfield>

	<kendo-formfield *ngIf=false class="form-field-double" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="ORDER_FIELDS" text="ORDER_FIELDS"></kendo-label>
		<textarea kendoTextArea  style="resize: both;" class="form-input-double" formControlName="ORDER_FIELDS" kendoTextBox #ORDER_FIELDS ></textarea>
	</kendo-formfield>

</div>

<div class="wrap">
	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="ACTUAL_START_DATE" text="Actual start"></kendo-label>
		<kendo-datepicker [format]="this.paramConfig.DateFormat" class="form-field-date" formControlName="ACTUAL_START_DATE"  #ACTUAL_START_DATE

		></kendo-datepicker>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="ACTUAL_END_DATE" text="Actual End"></kendo-label>
		<kendo-datepicker [format]="this.paramConfig.DateFormat" class="form-field-date" formControlName="ACTUAL_END_DATE"  #ACTUAL_END_DATE

		></kendo-datepicker>
	</kendo-formfield>

	<!--kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="ATTACHMENTS" text="Attachments"></kendo-label>
		<input class="form-input" formControlName="ATTACHMENTS" kendoTextBox #ATTACHMENTS  />
	</kendo-formfield-->

</div>
<div class="wrap">
	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="PARENT_WO_ORDER_NO" text="Parent Wo Order"></kendo-label>
		<input class="form-input" formControlName="PARENT_WO_ORDER_NO" kendoTextBox #PARENT_WO_ORDER_NO  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="ORDER_NO" text="Order No"></kendo-label>
		<input class="form-input" formControlName="ORDER_NO" kendoTextBox #ORDER_NO  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="TEMPLATE_ORDER" text="Order No"></kendo-label>
		<input class="form-input" formControlName="TEMPLATE_ORDER" kendoTextBox #TEMPLATE_ORDER  />
	</kendo-formfield>

</div>


    </fieldset>
    </form>
</kendo-pdf-export>
</div>


		<div [hidden]="!multiStepFormOpened" >
			<kendo-dialog [title]="DSP_MULTISTEPFormConfig?.masterParams?.formName || 'Form title'" (close)="multiStepFormClose()"
			  resizable="true"
				[minWidth]="700" [width]="700" [height]="fieldGridHeight+200">

				<app-dsp-multistep
				(saveCompletedOutput)="savemultiStepFormCompletedHandler($event)"
				[setComponentConfig_Input]="DSP_MULTISTEPFormConfig">
				</app-dsp-multistep>
			</kendo-dialog>
			</div>


			<div [hidden]="!logOpened" >
				<kendo-dialog title="Logs"  (close)="logClose()" 
			[minWidth]="400" [width]="950" [height]="650">
			  <app-adm-rule-log-grid
			  [setComponentConfig_Input]="ADM_RuleLogGridConfig">
			  </app-adm-rule-log-grid>
			  </kendo-dialog>
			</div>
		