<kendo-pdf-export #pdf paperSize="A4" margin="2cm">

  <kendo-grid 
  
  id="grid" [sortable]="true" [height]="gridHeight"
  [resizable] ="true" 
  [virtualColumns]="true"
  (cellClick)="cellClickHandler($event)" 
  (add)="addHandler()"
  (remove)="removeHandler($event)"
  [filter]="state.filter"
  [filterable]= "isFilterable"
  [columnMenu]="isColumnMenu"
  (dataStateChange)="dataStateChange($event)"
  [resizable]="true"
  [sortable]="true">

  
  
      <ng-template kendoGridToolbarTemplate>
      <legend class="k-form-legend" >{{ title }}</legend>
      

      
      <button  kendoButton [icon]="'save'" title="save" (click)="saveChanges(grid);" *ngIf="!isChild && !isReadOnly"></button >
      <button  kendoButton [icon]="'print'" title="print" (click)="printScreen()" ></button >
  
      
          <button   kendoButton [icon]="'zoom'" *ngIf="!isReadOnly" title="Enter Query" (click)="enterQuery(grid);"></button >
          <button   kendoButton [icon]="'reload'" *ngIf="!isReadOnly"  title="Execute Query"  (click)="executeQuery(grid);"></button >
          <button   kendoButton [icon]="'cancel'" *ngIf="!isReadOnly" title="Cancel"  (click)="cancelHandler()" ></button >
      
      
          <button  [icon]="'plus-outline'" title="Insert Record"  kendoGridAddCommand *ngIf="insertable && !isReadOnly"></button >
          <button  [icon]="'minus-outline'" title="Delete Record"  kendoGridRemoveCommand *ngIf="insertable && !isReadOnly">Remove</button >
              
          <button  kendoButton [icon]="'filter'" title="Show/Hide Filter options"  (click)="toggleFilter()" ></button >
          <button  kendoButton [icon]="'menu'" title="Show/Hide Menu"  (click)="toggleColumnMenu()" ></button >
          <button  [icon]="'file-pdf'" title="Export to PDF"  kendoGridPDFCommand ></button >
          <button  [icon]="'file-excel'" title="Export to Excel"  kendoGridExcelCommand ></button >
            <button kendoButton  [icon]="'eye'" title="Toggle Show All"  (click)="toggleShowAll()" ></button >
  
  
  </ng-template>

  <!--kendo-grid-column field="DEPT" title="Dept" [width]="100">
    <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetDEPT(dataItem.DEPT)?.CODETEXT_LANG}} </ng-template>
    <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
    <kendo-dropdownlist  [data]="lkpArrDEPT"  textField="CODETEXT_LANG" valueField="CODE"
    (valueChange)="valueChangeDEPT($event)"
    [valuePrimitive]="true" [formControl]="formGroup.get('DEPT')">
    </kendo-dropdownlist>
    </ng-template>
  </kendo-grid-column>
  
  <kendo-grid-column field="DIV" title="Div" [width]="100">
    <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetDIV(dataItem.DIV)?.CODETEXT_LANG}} </ng-template>
    <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
    <kendo-dropdownlist  [data]="getlkpArrDIV()"  textField="CODETEXT_LANG" valueField="CODE"
    (valueChange)="valueChangeDIV($event)"
    [valuePrimitive]="true" [formControl]="formGroup.get('DIV')">
    </kendo-dropdownlist>
    </ng-template>
  </kendo-grid-column-->
  <kendo-grid-command-column  [width]="70">
      <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoGridEditCommand (click)="showFormRequest(dataItem)" [primary]="true" [icon]="'more-horizontal'">Form</button>
      </ng-template>
  </kendo-grid-command-column>
  
  
<kendo-grid-column field="ORDER_TYPE" title="Type" [width]="100">
  <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetORDER_TYPE(dataItem.ORDER_TYPE)?.CODETEXT_LANG}} </ng-template>
  <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
  <kendo-dropdownlist  [data]="lkpArrORDER_TYPE"  textField="CODETEXT_LANG" valueField="CODE"
  (valueChange)="valueChangeORDER_TYPE($event)"
  [valuePrimitive]="true" [formControl]="formGroup.get('ORDER_TYPE')">
  </kendo-dropdownlist>
  </ng-template>
</kendo-grid-column>

  <kendo-grid-column field="ASSIGNEE_TYPE" title="Ass. Type" [width]="100">
    <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetASSIGNEE_TYPE(dataItem.ASSIGNEE_TYPE)?.CODETEXT_LANG}} </ng-template>
    <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
    <kendo-dropdownlist  [data]="lkpArrASSIGNEE_TYPE"  textField="CODETEXT_LANG" valueField="CODE"
    (valueChange)="valueChangeASSIGNEE_TYPE($event)"
    [valuePrimitive]="true" [formControl]="formGroup.get('ASSIGNEE_TYPE')">
    </kendo-dropdownlist>
    </ng-template>
  </kendo-grid-column>
  
  <kendo-grid-column field="ASSIGNEE" title="Assignee" [width]="100">
    <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetASSIGNEE(dataItem.ASSIGNEE,dataItem.ASSIGNEE_TYPE)?.CODETEXT_LANG}} </ng-template>
    <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
    <kendo-dropdownlist  [data]="getlkpArrASSIGNEE()"  textField="CODETEXT_LANG" valueField="CODE"
    (valueChange)="valueChangeASSIGNEE($event)"
    [valuePrimitive]="true" [formControl]="formGroup.get('ASSIGNEE')">
    </kendo-dropdownlist>
    </ng-template>
  </kendo-grid-column>
  
  <kendo-grid-column field="SUBNO" *ngIf="showAll"
     title="Subno" [width]="84"></kendo-grid-column>


<kendo-grid-column field="ORDER_NO" 
     title="No." [width]="60" ></kendo-grid-column>

<kendo-grid-column field="ORDER_STATUS" title="Status" [width]="100">
  <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetORDER_STATUS(dataItem.ORDER_STATUS)?.CODETEXT_LANG}} </ng-template>
  <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
  <kendo-dropdownlist  [data]="lkpArrORDER_STATUS"  textField="CODETEXT_LANG" valueField="CODE"
  (valueChange)="valueChangeORDER_STATUS($event)"
  [valuePrimitive]="true" [formControl]="formGroup.get('ORDER_STATUS')">
  </kendo-dropdownlist>
  </ng-template>
</kendo-grid-column>



<kendo-grid-column field="ORDERED_DATE"  [width]="100"	filter="date"	 editor="date"  title="Ordered"
[format]="paramConfig.DateFormat">
<ng-template KendoGridEditTemplate  let-dataItem>
  <kendo-datepicker [format]="this.paramConfig.DateFormat" ngDefaultControl	 #datepicker>
  </kendo-datepicker>
</ng-template>
</kendo-grid-column>

<kendo-grid-column field="PROMISED_DATE"  [width]="100"	filter="date"	 editor="date"  title="Promised" 
  [format]="paramConfig.DateFormat">
  <ng-template KendoGridEditTemplate  let-dataItem>
  <kendo-datepicker [format]="this.paramConfig.DateFormat" ngDefaultControl	 #datepicker>
  </kendo-datepicker>
  </ng-template>
  </kendo-grid-column>
  
  <kendo-grid-column field="WO_STATUS" [width]="200" title="Approval status"></kendo-grid-column>

  <kendo-grid-column field="NOTES" 
  title="Notes" [width]="100"></kendo-grid-column>

<!--kendo-grid-column field="COMPLETION_DATE"  [width]="150"	filter="date"	 editor="date"  title="Completion Date" 
  [format]="paramConfig.DateFormat">
  <ng-template KendoGridEditTemplate  let-dataItem>
  <kendo-datepicker [format]="this.paramConfig.DateFormat" ngDefaultControl	 #datepicker>
  </kendo-datepicker>
  </ng-template>
  </kendo-grid-column>

<kendo-grid-column field="PARENT_ORDER_TYPE" 
     title="Parent Order Type" [width]="60"></kendo-grid-column>
<kendo-grid-column field="PARENT_ORDER_NO" 
     title="Parent Order No" [width]="60"></kendo-grid-column>
<kendo-grid-column field="ACTUAL_START_DATE"  [width]="150"	filter="date"	 editor="date"  title="Actual Start Date" 
  [format]="paramConfig.DateFormat">
  <ng-template KendoGridEditTemplate  let-dataItem>
  <kendo-datepicker [format]="this.paramConfig.DateFormat" ngDefaultControl	 #datepicker>
  </kendo-datepicker>
  </ng-template>
  </kendo-grid-column>

<kendo-grid-column field="ACTUAL_END_DATE"  [width]="150"	filter="date"	 editor="date"  title="Actual End Date" 
  [format]="paramConfig.DateFormat">
  <ng-template KendoGridEditTemplate  let-dataItem>
  <kendo-datepicker [format]="this.paramConfig.DateFormat" ngDefaultControl	 #datepicker>
  </kendo-datepicker>
  </ng-template>
  </kendo-grid-column>



<kendo-grid-column field="TEMPLATE_NAME" title="Template Name" [width]="100">
  <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetTEMPLATE_NAME(dataItem.TEMPLATE_NAME)?.CODETEXT_LANG}} </ng-template>
  <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
  <kendo-dropdownlist  [data]="lkpArrTEMPLATE_NAME"  textField="CODETEXT_LANG" valueField="CODE"
  (valueChange)="valueChangeTEMPLATE_NAME($event)"
  [valuePrimitive]="true" [formControl]="formGroup.get('TEMPLATE_NAME')">
  </kendo-dropdownlist>
  </ng-template>
</kendo-grid-column-->




  
                     <kendo-grid-pdf [fileName]="PDFfileName" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
                      <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                      <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                       <div class="page-template">
                          <div class="header">
                            <div style="float: center">{{ title }}</div>
                          </div>
                          <div class="footer">
                            Page {{ pageNum }} of {{ totalPages }}
                          </div>
                        </div>
                      </ng-template>
                  </kendo-grid-pdf>
                  <kendo-grid-excel fileName="ExcelfileName" ></kendo-grid-excel>
  
  </kendo-grid>
  
  
  </kendo-pdf-export>

  <div [hidden]="!formRequestOpened">
    <kendo-dialog (close)="formRequestOpened = false" resizable="true" [minWidth]="700" width="70%"
      height=700 title="Form request details">
      <div style="display: none">
        <app-dsp-orders-form 
            (getOrderOutput)="showMultiStepForm($event)"
            [setComponentConfig_Input]="DSP_ORDERSFormConfig">
        </app-dsp-orders-form>
      </div>
      <app-dsp-multistep
        [setComponentConfig_Input]="DSP_MULTISTEPFormConfig">
      </app-dsp-multistep>
    </kendo-dialog>
  </div>

 
<app-dsp-diagram-wrap *ngIf="showDiagram"
[setComponentConfig_Input]="app_dsp_diagram_wrapConfig">
</app-dsp-diagram-wrap>

  