<kendo-pdf-export #pdf paperSize="A4" margin="2cm">

  <kendo-grid 
  tabsCodesBinding  id="grid" [sortable]="true"
  [height]="componentConfig.gridHeight"
  [resizable] ="true"
  (cellClick)="cellClickHandler($event)" 
  (add)="addHandler()"
  (remove)="removeHandler($event)"
  [filter]="state.filter"
  [filterable]= "isFilterable"
  [columnMenu]="isColumnMenu"
  (dataStateChange)="dataStateChange($event)"
  [resizable]="true"
  [sortable]="true">

  
  
      <ng-template kendoGridToolbarTemplate>
      <legend>{{ title }}</legend>
      

      
      <button  kendoButton [icon]="'save'" title="save" (click)="saveChanges(grid);" *ngIf="!isChild || showSave"></button >
      <button  kendoButton [icon]="'print'" title="print" (click)="printScreen()" ></button >
  
      
          <button   kendoButton [icon]="'zoom'" title="Enter Query" (click)="enterQuery(grid);"></button >
          <button   kendoButton [icon]="'reload'"  title="Execute Query"  (click)="executeQuery(grid);"></button >
          <button   kendoButton [icon]="'cancel'" title="Cancel"  (click)="cancelHandler()" ></button >
      
      
          <button  [icon]="'plus-outline'" title="Insert Record"  kendoGridAddCommand></button >
          <button  [icon]="'minus-outline'" title="Delete Record" kendoGridRemoveCommand>Remove</button >
              
          <button  kendoButton [icon]="'filter'" title="Show/Hide Filter options"  (click)="toggleFilter()" ></button >
          <button  kendoButton [icon]="'menu'" title="Show/Hide Menu"  (click)="toggleColumnMenu()" ></button >
          <button  [icon]="'file-pdf'" title="Export to PDF"  kendoGridPDFCommand ></button >
          <button  [icon]="'file-excel'" title="Export to Excel"  kendoGridExcelCommand ></button >
  
  
  </ng-template>


<kendo-grid-column field="CODENAME" 
     title="Codename" [width]="60" [editable]="isCODENAMEEnable"></kendo-grid-column>
<kendo-grid-column field="CODE" 
     [editable]="!primarKeyReadOnlyArr.isCODEreadOnly"
     title="Code" [width]="60"></kendo-grid-column>
<kendo-grid-column field="PARTCODE" 
     title="Partcode" [width]="40"></kendo-grid-column>
<kendo-grid-column field="CODEVALUE_LANG" 
     title="Value" [width]="40"></kendo-grid-column>
<kendo-grid-column field="LANGUAGE_NAME" 
     title="Language" [width]="40"></kendo-grid-column>
<kendo-grid-column field="CODETEXT_LANG" 
     title="Text" [width]="200"></kendo-grid-column>








  
                     <kendo-grid-pdf [fileName]="PDFfileName" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
                      <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                      <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                       <div class="page-template">
                          <div class="header">
                            <div style="float: center">{{ title }}</div>
                          </div>
                          <div class="footer">
                            Page {{ pageNum }} of {{ totalPages }}
                          </div>
                        </div>
                      </ng-template>
                  </kendo-grid-pdf>
                  <kendo-grid-excel [fileName]="ExcelfileName" ></kendo-grid-excel>
  
  </kendo-grid>
  
  
  </kendo-pdf-export>
  